---
import Layout from '../layouts/Layout.astro';
import beach from '../assets/beach-narrow.jpg'
import { Heading, P, Button } from "flowbite-svelte";

---

<Layout>
    <div class="md:w-4/5 max-w-[900px] p-10 md:pr-40">
        <div class="bg-primary-300/90 p-10 rounded-lg">
            <Heading tag="h1">Yoga is for everyone.</Heading>
            <P>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pharetra maximus lacus, quis bibendum ipsum auctor quis. Cras ac justo quis est laoreet dignissim. Nulla nec eleifend purus. Suspendisse fermentum enim eu velit molestie malesuada sit amet at lorem. Duis metus metus, finibus id euismod sed, accumsan sed lorem. Vestibulum id enim eget neque mollis congue eget ut purus. Phasellus varius, quam dictum semper rutrum, quam nunc condimentum velit, vitae sodales massa nunc in mauris. Nulla sit amet risus non dolor volutpat ultrices vitae dignissim mauris. Duis sagittis tellus hendrerit pretium tempus. Donec imperdiet rutrum viverra. Nullam vestibulum mauris et sapien maximus, vitae tempor nisl semper. Praesent non accumsan ante, non mattis purus. Vivamus tempor augue ut elit efficitur semper. Maecenas nulla nisl, semper vitae arcu at, rutrum pharetra mi.
            </P>
        </div>
    </div>

    <figure class="absolute h-full w-full top-0 -z-10">
        <img src={beach.src} class="h-full w-full object-cover"/>
    </figure>


</Layout>
