---
	import '../styles/global.css'
	import Header from "../components/Header.astro";
	import { DarkMode } from "flowbite-svelte";
import Contact from '../components/Contact.astro';
---

<!doctype html>
<html lang="en" class="h-auto">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Yoga with Maria Montserrat</title>

		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="MontseYoga" />
		<link rel="manifest" href="/site.webmanifest" />
	</head>
	<body class="h-full min-h-screen bg-cover bg-linear-to-tr  from-orange-100 to-orange-200">

	<slot />


	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
